@page "/about"

<PageTitle>About</PageTitle>

<div class="container">

    <h1>The Dev Talk Show</h1>
    <h2>Developers doing what developers do, recorded during a live stream.</h2>

    <p>
        The Dev Talk Show was created by <a asp-controller="Home" asp-action="Hosts">Rich Ross</a>, <a asp-controller="Home" asp-action="Hosts">Chris Gomez</a>, and <a asp-controller="Home" asp-action="Hosts">Andy Schwam</a> as a platform to deliver content and commentary to developers, regardless of their location, on a format that is growing in popularity, the live stream.
        In 2018, Rich and Chris started streaming Philly.NET meetups. They wanted more so they created a live stream known as Philly.Night and then Philly Tech Talk. On these shows, they began experimenting with additional content, interviews, and live coding. All of that hard work has morphed into a new show... The Dev Talk Show!
    </p>

    <p class="lead">So what makes this show different?</p>
    <h2>More Than Just Code</h2>
    <p>
        Developers are used to user group meetings and pre-recorded content that is very rehearsed and produced. However the new format of Live Streaming offers something different.
        Live Streaming shows offer some additional benefits:
        <ul>
            <li>Viewers are participants during the show! They are encouraged to comment, ask questions, and even make suggestions to enhance the work being done.</li>
            <li>More than just demos, this is a Talk Show. The hosts and guests discuss ideas, question each other and learn from each other.</li>
            <li>While the hosts intend to be prepared for the show, work is created on the fly in a setting more similar to actual software development. There are successes and failures, all out in the open. We all know we learn as much from failure as we do from success, maybe more. </li>
            <li>The format for Live Streams is professional but more fun, laid back, and interactive than a traditional meetup or web presentation.</li>
        </ul>
    </p>

    <h2>Reaching New Audiences</h2>
    <p>Not everyone can attend a user group meeting in person, The Dev Talk Show brings the content right to the developer! All the content is presented live on the web on Twitch, Mixer, and YouTube. And if you miss a live show, all the content is archived and available for playback on YouTube. </p>
</div>

@code {

}
