@page "/videoseditform"
@using Microsoft.AspNetCore.WebUtilities
@attribute [StreamRendering(true)]
@rendermode RenderMode.InteractiveServer

<PageTitle>Videos</PageTitle>

<h1>Our Video Library</h1>
<p>Here are all the videos we have created so far. Enjoy!</p>

<YouTubeVideo Caption="Interview with Carl Franklin!!!1" VideoId="ZjIlVQ8Om9Q" />

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Velit laoreet id donec ultrices tincidunt. Libero enim sed faucibus turpis in eu mi bibendum neque. In cursus turpis massa tincidunt dui. Neque viverra justo nec ultrices dui. Blandit aliquam etiam erat velit scelerisque in dictum non. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Dictum non consectetur a erat. Mollis aliquam ut porttitor leo a diam. Turpis massa tincidunt dui ut ornare lectus. A erat nam at lectus. Tortor id aliquet lectus proin nibh nisl condimentum. Nisl nunc mi ipsum faucibus vitae. Duis tristique sollicitudin nibh sit amet commodo nulla. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam.</p>

<p>Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Pulvinar neque laoreet suspendisse interdum consectetur libero. At quis risus sed vulputate odio ut enim blandit. Diam ut venenatis tellus in metus vulputate. Mauris augue neque gravida in fermentum. Aliquet sagittis id consectetur purus ut faucibus. Eget gravida cum sociis natoque penatibus et magnis dis. Vel eros donec ac odio tempor orci dapibus ultrices. Urna molestie at elementum eu facilisis sed odio. Ut venenatis tellus in metus vulputate eu scelerisque. Est ultricies integer quis auctor elit sed vulputate mi sit. Aliquet nec ullamcorper sit amet risus nullam eget felis. Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla.</p>

<p>Sagittis vitae et leo duis ut. Sit amet mattis vulputate enim nulla aliquet porttitor lacus. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. Sollicitudin tempor id eu nisl nunc mi. Turpis nunc eget lorem dolor sed viverra ipsum nunc. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Viverra nam libero justo laoreet sit amet cursus sit. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Egestas fringilla phasellus faucibus scelerisque eleifend. Ac odio tempor orci dapibus ultrices in iaculis nunc sed.</p>

<p>Id interdum velit laoreet id donec. Sed risus ultricies tristique nulla aliquet enim tortor. Sapien pellentesque habitant morbi tristique. Tristique nulla aliquet enim tortor at auctor urna nunc id. Aenean et tortor at risus viverra adipiscing. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Pellentesque massa placerat duis ultricies lacus sed. Diam vel quam elementum pulvinar etiam non quam. Id aliquet lectus proin nibh nisl. Ac auctor augue mauris augue neque gravida in fermentum. Pulvinar proin gravida hendrerit lectus a. Facilisi morbi tempus iaculis urna id volutpat lacus. Est velit egestas dui id ornare arcu odio ut sem.</p>

<p>Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Aliquet eget sit amet tellus cras adipiscing. Cursus sit amet dictum sit amet justo. Molestie at elementum eu facilisis sed odio morbi. Sapien eget mi proin sed libero enim sed faucibus turpis. Dictum varius duis at consectetur lorem donec massa. Volutpat sed cras ornare arcu dui. Cursus turpis massa tincidunt dui ut ornare lectus sit. Magna fringilla urna porttitor rhoncus dolor purus non enim praesent. Urna molestie at elementum eu facilisis sed odio. Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Vel facilisis volutpat est velit egestas. Maecenas sed enim ut sem viverra aliquet eget sit amet. Fames ac turpis egestas sed tempus urna et pharetra. Aenean sed adipiscing diam donec. Ut tortor pretium viverra suspendisse potenti nullam ac.</p>

<YouTubeVideo Caption="Today's Show!" VideoId="0DzEhOQa2ho" />

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Velit laoreet id donec ultrices tincidunt. Libero enim sed faucibus turpis in eu mi bibendum neque. In cursus turpis massa tincidunt dui. Neque viverra justo nec ultrices dui. Blandit aliquam etiam erat velit scelerisque in dictum non. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Dictum non consectetur a erat. Mollis aliquam ut porttitor leo a diam. Turpis massa tincidunt dui ut ornare lectus. A erat nam at lectus. Tortor id aliquet lectus proin nibh nisl condimentum. Nisl nunc mi ipsum faucibus vitae. Duis tristique sollicitudin nibh sit amet commodo nulla. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam.</p>

<p>Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Pulvinar neque laoreet suspendisse interdum consectetur libero. At quis risus sed vulputate odio ut enim blandit. Diam ut venenatis tellus in metus vulputate. Mauris augue neque gravida in fermentum. Aliquet sagittis id consectetur purus ut faucibus. Eget gravida cum sociis natoque penatibus et magnis dis. Vel eros donec ac odio tempor orci dapibus ultrices. Urna molestie at elementum eu facilisis sed odio. Ut venenatis tellus in metus vulputate eu scelerisque. Est ultricies integer quis auctor elit sed vulputate mi sit. Aliquet nec ullamcorper sit amet risus nullam eget felis. Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla.</p>

<p>Sagittis vitae et leo duis ut. Sit amet mattis vulputate enim nulla aliquet porttitor lacus. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. Sollicitudin tempor id eu nisl nunc mi. Turpis nunc eget lorem dolor sed viverra ipsum nunc. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Viverra nam libero justo laoreet sit amet cursus sit. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Egestas fringilla phasellus faucibus scelerisque eleifend. Ac odio tempor orci dapibus ultrices in iaculis nunc sed.</p>

<p>Id interdum velit laoreet id donec. Sed risus ultricies tristique nulla aliquet enim tortor. Sapien pellentesque habitant morbi tristique. Tristique nulla aliquet enim tortor at auctor urna nunc id. Aenean et tortor at risus viverra adipiscing. Interdum velit laoreet id donec ultrices tincidunt arcu non sodales. Pellentesque massa placerat duis ultricies lacus sed. Diam vel quam elementum pulvinar etiam non quam. Id aliquet lectus proin nibh nisl. Ac auctor augue mauris augue neque gravida in fermentum. Pulvinar proin gravida hendrerit lectus a. Facilisi morbi tempus iaculis urna id volutpat lacus. Est velit egestas dui id ornare arcu odio ut sem.</p>

<p>Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Aliquet eget sit amet tellus cras adipiscing. Cursus sit amet dictum sit amet justo. Molestie at elementum eu facilisis sed odio morbi. Sapien eget mi proin sed libero enim sed faucibus turpis. Dictum varius duis at consectetur lorem donec massa. Volutpat sed cras ornare arcu dui. Cursus turpis massa tincidunt dui ut ornare lectus sit. Magna fringilla urna porttitor rhoncus dolor purus non enim praesent. Urna molestie at elementum eu facilisis sed odio. Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Vel facilisis volutpat est velit egestas. Maecenas sed enim ut sem viverra aliquet eget sit amet. Fames ac turpis egestas sed tempus urna et pharetra. Aenean sed adipiscing diam donec. Ut tortor pretium viverra suspendisse potenti nullam ac.</p>

@if (!string.IsNullOrEmpty(Model?.Name))
{
    <p style="color:red">The name entered is: @Model.Name</p>
}
else
{
    <p>No name entered yet.</p>
}
@if (!string.IsNullOrEmpty(Model?.Comment))
{
    <p style="color:red">The comment entered is: @Model.Comment</p>
}
else
{
    <p>No comment entered yet.</p>
}

<EditForm Model="@Model" OnSubmit="@Submit" FormName="CommentForm">
    <label>Name: </label><InputText @bind-Value="Model!.Name" /><br />
    <label>Fit all comments in this generous space: </label><InputText @bind-Value="Model!.Comment" />
    <button type="submit" name="CommentForm">Submit</button>
</EditForm>

@code {

    public CommentFormSubmission? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();
    
    private void Submit()
    {
        // write to database?
        // fire off event?
    }
    

    public class CommentFormSubmission
    {
        public string? Name { get; set; }
        public string? Comment { get; set; }
    }
}
