/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/*
    content copied from the local bootstrap.css file.
*/

h1 {
    color: #488a99;
}

h4.card-title {
    /*color: #BDAE58;*/
    color: #4B585C;
}

h2 {
    color: #488a99;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card.affiliate {
    border: 5px solid #4B585C;
}

.featureIcon {
    width: 75px;
}

.card-horizontal h5 {
    margin-top: auto;
    margin-bottom: auto;
}

.fullWidthPanel {
    background-color: #B4b4b4;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
